{% extends 'core/base.html' %}
{% load static %}

{% block title %}Transactions{% endblock title %}


{% block custom_stylesheet %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
<link rel="stylesheet" href="{% static 'budget_viewer/css/transactions.css' %}">
{% endblock custom_stylesheet %}
    

{% block content %}
<!-- forms
- choose from view expenses or view incomes or view all
- choose month -->
<div class="options">
    <ul class="options__years">
        
        {% if years %}
            {% for year in years %}
                <li class="year__item">{{ year.name }}</li>
            {% endfor %}
        {% else %}       
            <p>Oops!!</p>
        {% endif %}
            
        <!-- <li class="year__item">2018</li>
        <li class="year__item">2019</li>
        <li class="year__item">2020</li> -->
    </ul>

    <ul class="options__months">
        
        <!-- <li class="month__item">Jan</li>
        <li class="month__item">Fev</li>
        <li class="month__item">Mar</li>
        <li class="month__item">Abr</li>
        <li class="month__item">Mai</li>
        <li class="month__item">Jun</li>
        <li class="month__item">Jul</li>
        <li class="month__item">Ago</li>
        <li class="month__item">Set</li>
        <li class="month__item">Out</li>
        <li class="month__item">Nov</li>
        <li class="month__item">Dez</li> -->
    </ul>
</div>

<!-- show transactions objects accordingly to the choosen options -->
<section class="table_section">
    <div class="table_container">
        <table id="transactions_table" class="display" style="width: 100%;">
           
        </table>
    </div>
</section>
    
{% endblock content %}

{% block custom_script %}
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
<script src="{% static 'budget_viewer/js/ajax_load_transactions.js' %}"></script>
{% endblock custom_script %}