<table>
    <thead>
        <tr>
            <th>Origem</th>
            <th>Expense</th>
            <th>Income</th>
            <th>Flow_Method</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions_list %}
            <tr>
                <td>{{ transaction.origin }}</td>
                {% if transaction.flow_type == "0" %}
                    <td style="color: red;">{{ transaction.amount }}</td>
                    <td>--</td>
                {% else %}
                    <td>--</td>
                    <td style="color: green;">{{ transaction.amount }}</td>
                {% endif %}
                <td>{{ transaction.flow_method }}</td>
                <td>{{ transaction.date }}</td>

            </tr>
        {% endfor %}
    </tbody>
</table>